@{
    ViewData["Title"] = "Лабораторна робота з ІСтаТП 2020. Сайт для замовлення їжі";
}

<div class="text-center">
    <h1 class="display-4">Виберіть опцію</h1>
</div>

<p>
    <a asp-action="Type">Вибрати страву</a>
</p>

<p>
    <a asp-action="Restaurant">Переглянути ресторани</a>
</p>

<p>
    <a asp-action="Ingredient">Переглянути інгредієнти</a>
</p>

<p>
    <a asp-action="Queries">SQL запити</a>
</p>

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>;
    <form method = "post" asp-controller = "Account" asp-action = "Logout" >
        <input type = "submit" value = "Вихід"/>
    </form>
}
else
{
    <a asp-controller = "Account" asp-action = "Login"> Вхід </a>;
    <a asp-controller = "Account" asp-action = "Register"> Реєстація </a>;
}