@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Виберіть опцію</h1>
</div>

<p>
    <a asp-action="Type">Вибрати страву</a>
</p>

<p>
    <a asp-action="Restaurant">Переглянути ресторани</a>
</p>

<p>
    <a asp-action="Ingredient">Переглянути інгредієнти</a>
</p>

<p>
    <a asp-action="Clients">Переглянути клієнтів</a>
</p>