@model lab1.Restaurant

@{
    ViewData["Title"] = "видалити";
}

<h3>Ви впевнені, що хочете видалити ресторан?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <div>
            <a href='javascript:history.go(-1)'>Повернутись</a>
        </div>
    </form>
</div>
